/**
* 常用颜色
*/
$normalTextColor: #CBDDFE; //顶部和部分图表标题等字体颜色
$normalBorderColor: #0445B7;//边框颜色
$normalBgColor: #001A43;//常用背景颜色
$rightDescTextColor: #76A6FB;//右侧相关颜色
$placeholderTextColor: #4F9EFB;//input placeholder字体颜色
$inputTextColor: #76A6FB;//input 字体颜色
$activeTextColor: #11D9FA;//字体active样式
$loadingTextColor: #4F9EFB;//加载颜色
$ListItemBg: #072453;//列表型子项背景颜色
/**
* 常用字体样式
*/
$normalFamily: 思源黑体 CN;

/**
* 常用边框
*/
$normalBorder: 1px solid #043A99;